<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="uikit/css/uikit.min.css" />
    <script src="uikit/js/uikit.min.js"></script>
    <script src="uikit/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    {{{body}}}
    <script>
    async function cleanup () {
      let message = '';
      const btn = document.querySelector('#cleanup-btn');

      window.document.body.classList.add('cleanup-ing');
      btn.setAttribute('disabled', true);

      await fetch('/api/cleanup')
        .then(response => response.json())
        .then((response) => {
          console.log(response);
          message = response.success ? 'Success' : 'Failure';
        })
        .catch((e) => {
            console.log(e);
            message = e;
        })
        .finally(() => {
          window.document.body.classList.remove('cleanup-ing');
          btn.removeAttribute('disabled');
          UIkit.notification({
              message,
              status: 'primary',
              pos: 'top-right',
              timeout: 5000
          });
        });
    }
  </script>
  </body>
</html>