<div class="main">
    <button
        class="uk-button uk-button-primary uk-button-large"
        id="cleanup-btn"
    >
        <div uk-spinner class="btn-spinner"></div>
        <span class="btn-label">Clean up</span>
    </button>
</div>